<section class="shelters">
  <header>
    <h2>Shelters</h2>
    <%= link_to 'New Shelter', '/shelters/new' %>
  </header>
  <ul>
    <% @shelters.each do |shelter| %>
      <li id=shelter-<%= shelter.id %>>
        <%= link_to shelter.name, "/shelters/#{shelter.id}" %>
        <%= link_to 'edit', "/shelters/#{shelter.id}/edit" %>
        <%= link_to 'delete', "/shelters/#{shelter.id}", method: :delete %>
      </li>
    <% end %>
  </ul>
</section>
