<h1>ShelterPets#index</h1>

<%= link_to 'Create Pet', "/shelters/#{@shelter.id}/pets/new" %>

<ul>
  <% @pets.each do |pet| %>
    <li id=pet-<%= pet.id %>>
      <span>Image: <%= pet.image %></span>
      <span> Name: <%= link_to pet.name, "/pets/#{pet.id}" %></span>
      <span>Age: <%= pet.age %></span>
      <span>Sex: <%= pet.sex %></span>
      <span>Status: <%= pet.status %></span>
      <%= link_to 'edit', "/pets/#{pet.id}/edit" %>
      <%= link_to 'delete', "/pets/#{pet.id}", method: :delete %>
    </li>
  <% end %>
</ul>
