<h1>ShelterPets#index</h1>

<%= link_to 'Create Pet', "/shelters/#{@shelter.id}/pets/new" %>

<% @pets.each do |pet| %>
  <p>Image: <%= pet.image %></p>
  <p>Name: <%= pet.name %></p>
  <p>Age: <%= pet.age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Status: <%= pet.status %></p>
<% end %>

