<section class="pet-edit">
  <header>
    <h2>Edit Pet</h2>
  </header>
  <%= form_tag "/pets/#{@pet.id}", method: :patch do %>
    <%= label_tag :name %>
    <%= text_field_tag :name, @pet.name %>

    <%= label_tag :image %>
    <%= text_field_tag :image, @pet.image %>

    <%= label_tag :description %>
    <%= text_field_tag :description, @pet.description %>

    <%= label_tag :age %>
    <%= text_field_tag :age, @pet.age %>

    <%= label_tag :sex %>
    <%= text_field_tag :sex, @pet.sex %>

    <%= hidden_field_tag :status, 'adoptable' %>

    <%= submit_tag 'Update Pet' %>
  <% end %>
</section>
