<h1>Pets#index</h1>

<% @pets.each do |pet| %>
  <p>Image: <%= pet.image %></p>
  <p>Name: <%= pet.name %></p>
  <p>Age: <%= pet.age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Shelter: <%= pet.shelter.name %></p>
<% end %>

