<section class="pet-show">
  <header>
    <h2>Pet Show</h2>
    <%= link_to 'Update Pet', "/pets/#{@pet.id}/edit" %>
    <%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %>
  </header>
  <p>
    <%= @pet.image %>
  </p>
  <p>
    <%= @pet.name %>
  </p>
  <p>
    <%= @pet.description %>
  </p>
  <p>
    <%= @pet.age %>
  </p>
  <p>
    <%= @pet.sex %>
  </p>
  <p>
    <%= @pet.status %>
  </p>
</section>
