<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>AdoptDontShop</h1>
    <nav>
      <%= link_to 'Shelters', '/shelters' %>
      <%= link_to 'Pets', '/pets' %>
    </nav>
    <%= yield %>
  </body>
</html>
